* {
	float: none;
	position: static;
}
label{
  margin-right: 10px;
  width: 150px;
  float: left;
}
.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}
li{
  list-style: none;
}
.new{
  text-decoration: none;
}
.logout{
  text-decoration: none;
}